<div id="CourseListController">
    <header class="post_head" id="title">
        <h2><a href='#'> {{title}} </a></h2>
    </header>
    <span id="modules" ng-repeat="(semno, courses) in courseMap">
<p><font color='blue'> <b> Semester {{semno}} </b></font></p>

<div ng-repeat="c in courses">
    
<p><b>
    
    <span ng-if="c.status=='P'"> 
	<a href="#viewcourse/{{c.code}}">
	{{c.code}}- {{c.title}}  {{c.type =='L' ? '( Lab )' : ''}}
	</a> 
	<span ng-if="c.reviewed=='Y'">
		<i class='fa fa-check'></i>
	</span>
	
    <span ng-if="c.status=='D'">  {{c.code}}- {{c.title}}  {{c.type =='L' ? '( Lab )' : ''}}
    
     </span>
</div>
</b>
</p>
</div>
</div>
</span>

</div>
